---
import About from '../components/about.astro';
import Products from '../components/products.astro';
import Testimonials from '../components/Testimonials.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Edwin Colon Windmar" hasHero={true}>
  <About />
  <Products />
  <Testimonials />
	<main>
		<form>
      <input type="text" name="first_name" id="first_name" placeholder="name">
      <input type="text" name="last_name" id="last_name" placeholder="lastname">
      <input type="text" name="email" id="email" placeholder="email">
      <input type="submit" value="Enviar">
    </form>
	</main>
</Layout>
