---
---

<section id="about" class="container mx-auto items-center flex gap-16 py-12 flex-col md:flex-row">
  <img src="/images/edwin_about.webp" alt="Edwin Colon" class="hidden md:block w-1/2 rounded-xl about-img">
  <div class="flex flex-col gap-12">
    <h5 class="text-primary text-lg md:text-2xl pb-2 font-bold font-raleway">SOBRE  NOSOTROS</h5>
    <h1 class="font-black font-raleway text-5xl md:text-7xl text-balance">Líderes en Energía Solar</h1>
    <p class="text-lg md:text-2xl md:leading-10 text-pretty">Con más de 20 años de experiencia, Windmar Home ha transformado el panorama energético en Puerto Rico y Florida. Nuestro equipo de 2,000+ expertos ha energizado más de 50,000 hogares e instalado 40,000+ sistemas Tesla, convirtiéndonos en líderes indiscutibles en sistemas solares fotovoltaicos y soluciones de energía limpia.</p>
  </div>
</section>
 
<style scoped>
  .about-img{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  }
</style>