---
---

<section id="allies" class="container mx-auto items-center flex gap-16 py-12 flex-col lg:flex-row">
  <div class="flex flex-row gap-12 logos_container h-[40vh] w-full object-cover rounded-xl">
    <img src="/images/allies/Anker-pr.webp" alt="Anker logo" class="logo-img">
    <img src="/images/allies/enphase-pr.webp" alt="Enphase logo" class="logo-img">
    <img src="/images/allies/Garner-pr.webp" alt="Garner logo" class="logo-img">
    <img src="/images/allies/Oriental-pr.webp" alt="Oriental logo" class="logo-img">
    <img src="/images/allies/qcells-pr.webp" alt="Qcells logo" class="logo-img">
    <img src="/images/allies/sinnova-pr.webp" alt="Sinnova logo" class="logo-img">
    <img src="/images/allies/tesla-pr.webp" alt="Tesla logo" class="logo-img">
  </div>
</section>
 
<style scoped>
  .logos_container{
    align-items: center;
    background-image: url("/public/images/allies/bg.webp");
    background-position: bottom;
    justify-content: center;
  }
  .logo-img{
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, .5));
    width: 10%;
  }
  .logo-img:hover {
    filter: drop-shadow(0 5px 6px #000000);
    
  }
</style>