---
---

<header class="sticky top-0 w-full left-0 z-20">
  <div class="container mx-auto flex justify-between items-center py-2">
    <a href="/">
      <img class="w-24 h-auto" src="/logo.svg" alt="Logo" />
    </a>
    <nav>
      <ul class="flex gap-4 font-bold">
        <li><a href="/#about" class="text-gray-15 hover:text-primary">Inicio<a/></li>
        <li><a href="/cotizar" class="text-gray-15 hover:text-primary">Cotizar</a></li>
        <li><a href="/empleos" class="text-gray-15 hover:text-primary">Empleo</a></li>
      </ul>
    </nav>
  </div>
  
</header>

<style scoped>
  header {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>