---
import TypingAnimation from "@/components/ui/typing-animation"

const slide = {
    image: '/images/hero_home.webp',
    title: 'Líderes en Energía Solar',
  }
---
<section class="relative">
  <div class="relative overflow-hidden">
    <div class="overflow-hidden w-full h-[450px] md:h-[500px]">
      <img src={slide.image} alt="Hero" class="w-full h-full object-cover">
      <div class="container absolute h-full top-0 left-1/2 -translate-x-1/2">
        <h2 class="flex flex-col h-full justify-center text-4xl text-balance text-center max-w-full md:text-7xl">
          <span class="text-white font-raleway font-black">{slide.title}</span>
        </h2>
      </div>
    </div>
  </div>
</section>

<script>
  const slidePicker = document.querySelectorAll('.slide-picker');

  slidePicker.forEach((picker, index) => {
    picker.addEventListener('click', () => {
      console.log(index);
      const slide = document.querySelectorAll('.slide');
      [...slide].forEach((s) => s.classList.remove('active'));
    });
  });
</script>