---
import Card from "./Card.astro"

const products = [
  {
    name: 'Libera el Poder del Sol en Tu Hogar',
    description: 'Transforma tu casa con energía solar 24/7. Nuestro Sistema Solar Fotovoltaico no solo mejora tu calidad de vida, sino que también cuida tu bolsillo. Únete a la revolución solar y brilla con energía inteligente.',
    image: '/images/placas.webp',
  },
  {
    name: 'Energía Portátil para Cada Aventura',
    description: 'Lleva el poder del sol contigo con las baterías Anker. Cárgalas en cualquier lugar con paneles solares portátiles y gestiona tu energía de forma inteligente con el interruptor de transferencia. Tu fuente de energía confiable, siempre a mano.',
    image: '/images/anker.webp',
  },
  {
    name: 'Protege Tu Hogar desde Arriba',
    description: 'Con 20 años de experiencia en techos puertorriqueños, nuestro servicio de roofing ofrece un sellado de calidad superior. Olvídate de goteras, grietas y hongos - asegura tu tranquilidad con WindMar Roofing.',
    image: '/images/roofing.webp',
  }
]
---

<section class="bg-secondary py-16">
  <div class="container mx-auto">
    <h3 class="text-white text-center text-3xl md:text-6xl text-balance">Energía Inteligente para Tu Hogar</h3>
    <div class="flex justify-center gap-10 mt-10 md:mt-20 flex-col items-center md:flex-row">
      {products.map(({name, description, image}) => <Card title={name}body={description} img={image}/>)}
    </div>
    <a href="/cotizar" class="text-white border border-primary bg-primary focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 block mt-6 md:inline-block">Cotiza Ahora</a>
  </div>
</section>