---
import Quotes from "./Quotes.astro";

---

<div class="container mx-auto py-6">
  <h5 class="text-primary text-2xl mb-2">Testimonios</h5>
  <h2 class="text-gray-15 text-5xl mb-8">Nuestros clientes</h2>
  <p class="text-gray-15 text-xl">Los clientes satisfechos son nuestro mayor orgullo y nuestra mejor referencia.</p>
  <div class="mt-8 flex items-center flex-col md:flex-row">
    <img src="/images/edwin_about.webp" alt="Testimonio 1" class="w-40 md:w-auto"/>
    <div>
      <div>
        <Quotes />
        <p>Lorem ipsum dolor sit amet consectetur. Vitae non malesuada quisque fusce magna in massa enim. Id nulla a a condimentum sed id. Fermentum sed at feugiat interdum lectus ac vulputate et arcu. Dui magnis sed nunc integer netus volutpat.</p>
        <p>Edwin Colon</p>
      </div>
      <div>
        <div class="previous"></div>
        <div class="next"></div>
      </div>
    </div>
  </div>
</div>