---
---

<a href="https://w.app/edwintest" class="fixed bg-[#2CCE53] w-14 h-14 rounded-full z-50 bottom-5 right-5 flex cursor-pointer transition-all justify-center items-center hover:w-20 hover:h-20 group animate-bounce hover:animate-none">
  <svg class="w-8 h-8 group-hover:h-10 group-hover:w-10" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_4_2185)">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M40.5766 33.5325C39.8845 33.1865 36.4912 31.5189 35.8595 31.2866C35.2277 31.0567 34.7679 30.9429 34.3057 31.635C33.8458 32.3225 32.5243 33.8786 32.1225 34.3385C31.7183 34.8007 31.3165 34.8564 30.6267 34.5127C29.9369 34.1643 27.7119 33.4373 25.0757 31.0869C23.0249 29.2567 21.6383 26.9968 21.2365 26.3047C20.8347 25.6149 21.1924 25.2409 21.5385 24.8972C21.8497 24.5883 22.2283 24.0913 22.5743 23.6894C22.9204 23.2853 23.0342 22.9973 23.2641 22.5351C23.4964 22.0753 23.3803 21.6734 23.2061 21.3274C23.0342 20.9813 21.6546 17.5834 21.0786 16.2014C20.5188 14.8567 19.9498 15.0402 19.5271 15.0169C19.123 14.9983 18.6631 14.9937 18.2032 14.9937C17.7434 14.9937 16.9955 15.1656 16.3637 15.8577C15.7297 16.5475 13.9483 18.2174 13.9483 21.6154C13.9483 25.011 16.4195 28.2928 16.7656 28.755C17.1116 29.2149 21.6314 36.1873 28.555 39.1764C30.204 39.8871 31.4884 40.3122 32.4894 40.628C34.1431 41.1553 35.6481 41.0809 36.8373 40.9021C38.1612 40.7047 40.9204 39.2322 41.4964 37.6203C42.0701 36.0084 42.0701 34.6265 41.8982 34.3385C41.7263 34.0505 41.2665 33.8786 40.5743 33.5325H40.5766ZM27.9836 50.7266H27.9743C23.862 50.7274 19.8253 49.6219 16.2871 47.5261L15.451 47.0291L6.75987 49.3098L9.08013 40.8371L8.53433 39.9684C6.23529 36.3088 5.01862 32.0734 5.02491 27.7516C5.02955 15.0936 15.3279 4.79525 27.9929 4.79525C34.1245 4.79525 39.8892 7.18751 44.2231 11.5261C46.3607 13.6549 48.0551 16.1865 49.208 18.9744C50.3609 21.7622 50.9496 24.751 50.94 27.7679C50.9354 40.426 40.637 50.7266 27.9836 50.7266ZM47.5212 8.23035C44.9621 5.65443 41.9173 3.61198 38.5632 2.22137C35.209 0.830752 31.6123 0.119622 27.9813 0.129185C12.7591 0.129185 0.365809 12.5202 0.361164 27.7493C0.354111 32.596 1.62552 37.3587 4.0471 41.5571L0.128906 55.8711L14.7705 52.0296C18.8207 54.2363 23.3596 55.3926 27.972 55.3927H27.9836C43.2058 55.3927 55.5991 43.0017 55.6037 27.7702C55.615 24.1407 54.9064 20.5449 53.5191 17.1909C52.1317 13.837 50.0931 10.7914 47.5212 8.23035Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0_4_2185">
    <rect width="55.7419" height="55.7419" fill="white" transform="translate(0.128906 0.12915)"/>
    </clipPath>
    </defs>
  </svg>
    
</a>